:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.host-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  position: absolute;
  /* align-self: center; */
  /* width: 100vw; */
  height: 100%;
  z-index: -1;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: var(--primary-color);
  color: #9CC8C8;
  text-align: center;
  font-family: Jockey One;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Styling the quizList and quizCard components */

.quiz-card-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 3px 3px 4px lightgray;
  height: 15vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1em;
}
.quiz-card-container h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.quiz-card-container h4 {
  color: grey;
}
.quiz-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-or-remove {
  margin: auto;
}
.plus-icon {
  height: 40px;
  width: 40px;
}
.tick-icon {
  height: 60px;
  width: 60px;
}
.btn {
  background-color: transparent;
  border: none;
}

/* .stream-controls {
  margin-top: auto;
  margin-bottom: 5vh;
} */

.stream-btns {
  background-color: rgb(255, 68, 0);
  border: none;
  width: calc((100vw/3) - 1px);
  height: 60px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.quiz-controls {
  margin-top: auto;
  margin-bottom: 20px;
}
.next-q-btn {
  border: none;
  width: 50vw;
  height: 60px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
}
