
@keyframes gradientBackground {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient( #9CC8C8, #3f653d, #415B5F);
  background-size: 600% 600%;
  animation: gradientBackground 25s infinite;
  width: 100%;
}

.pageTitle {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  transform: translateY(-20vh);
}

.quizInfoContainer, .countdownContainer {
  background-color: rgba(255, 255, 255, 0.6 );
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 70%;
  max-width: 800px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 30px;
}

.quizInfoContainer:hover, .countdownContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.countdownTime {
  /* If time is less than 1 minute, shake animation active */
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

.countdownTime {
  font-size: 2rem;
  font-weight: 500;
  padding: 15px;
}

@media (max-width: 768px) {
  .quizInfoContainer, .countdownContainer {
    width: 90%;
  }
}

.contentText {
  font-size: 1.1rem;
  color: #333;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.label {
  font-weight: 600;
  margin-right: 10px;
}

.infoGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.quizTitle {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #333;
  padding-bottom: 15px;
}

