.login_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.form {
  height: 70%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form input {
  border-radius: 20px;
  background: #FFF;
  height: 49px;
  width: 100%;
  padding: 10px;
  border: unset;
  color: black;
  font-family: Song Myung;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form button {
  height: 38px;
  border-radius: 20px;
  background: #98FDA2;
  border: unset;
  color: #415B5F;
  text-align: center;
  font-family: Song Myung;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.sign_options {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
}

.sign_options>p {
  color: lightgray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}