/* Styling the quizList and quizCard components */
.quiz_list_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  row-gap: 30px;
}

.quiz_card_container {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px lightgray;
  height: 15vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 1em;
  border-radius: 12px;
  align-items: center;
}

.quiz_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  height: 100%;
}

.quiz_info h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.quiz_info h4 {
  color: rgb(111, 110, 110);
}

.quiz_info p {
  font-family: monospace;
  color: black;
  text-transform: lowercase;
  font-weight: 800;
  font-size: 14px;
}


.add_or_remove {
  margin: auto;
}

.btn_icon {
  background-color: rgb(211, 211, 211, 0.2);
  border-radius: 50%;
  padding: 10px;
}

.btn {
  background-color: transparent;
  border: unset;
}
